.policy-page {
    background-color: #f0f0f0;
    padding: 4rem;
    margin: 0 2rem; /* Ensure consistent spacing */
    text-align: left;
}
  
  .policy-page h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    
  }
  
  .policy-page section {
    margin-bottom: 2rem;
  }
  
  .policy-page h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .policy-page p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  
  .policy-page ul {
    list-style: disc;
    margin-left: 2rem;
  }
  
  .policy-page ul li {
    margin-bottom: 0.5rem;
  }
  
  .policy-page a {
    color: #ff7675;
    text-decoration: none;
  }
  
  .policy-page a:hover {
    text-decoration: underline;
  }
  